body {
  padding: 20px 0px;
  font: 14px "微软雅黑", "Monaco", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
  display: inline-block;
}

.hidden {
  display: none;
}

.icon-mid {
  position: relative;
  top: 3px;
}

.label-mid {
  position: relative;
  top: -2px;
}

.image-radius {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.ml-20 {
  margin-left: 20px;
}

.block {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 10px; 
}

.icon-lg {
  font-size: 30px;
  display: inline-block;
  padding: 10px;
}