<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>
    <%= title %>
  </title>
</head>
<div class="container">
  <div class="view">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">图书搜索</a>
      </div>
      <form class="navbar-form navbar-left" role="search" onsubmit="return false;" actions="">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="SearchBookTitle" id="title">
        </div>
        <button type="submit" class="btn btn-default" id="search">Search</button>
      </form>
    </div>
  </div>

  <!-- 进度条 -->
  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" role="progressbar" id="progress" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    </div>
  </div>

  <div class="view">
    <ul class="list-group" id="list"></ul>
  </div>
</div>

<body>
  <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    $(function() {
      var $title = $('#title')
      var $search = $('#search')
      var $progress = $('#progress')
      var $books = $('#list')
      $progress.parent().hide()

      $search.on('click', (ev) => {
        $progress.parent().fadeIn(300)

        function progress() {
          $progress.css("width", `${len}%`)
          len += (100 - len) / 200
          if (!flag) {
            window.requestAnimationFrame(progress)
          } else {
            $progress.css("width", "100%")
          }
        }

        function finish_load(html) {
          flag = true
          setTimeout(() => {
            $progress.parent().fadeOut(300, () => {
              $progress.css("width", "0%")
              $books.html(html)
            })
          }, 800)
          
        }

        var bookTitle = $title.val()
        var flag = false
        if (bookTitle) {
          var len = 20
          window.requestAnimationFrame(progress)
          $.ajax({
            type: "post",
            url: "http://127.0.0.1:3000/book",
            data: {
              title: bookTitle
            },
            success: function(res) {
              if (res.status) {
                let html = ''
                res.data.forEach((item) => {
                  html += `<li class="list-group-item">
                      <h3 class="text-left">${item.book_name}</h3>
                      <p class="text-left">${item.publish_date}</p>
                      <p class="text-left">${item.writter}</p>
                      <p class="text-left">${item.publisher}</p>
                    </li></br>`
                })
                html = html ? html : '<p class="alert alert-danger">没有相关搜索，请更换关键字！</p>';
                finish_load(html)
              }
            },
            error: function(err) {
              let html = '<p class="alert alert-danger">服务器错误</p>'
              finish_load(html)
              console.log(err)
            }
          });
        }
      })
    })

  </script>
</body>

</html>
