<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>糟糕，发生错误了!</title>
</head>
  <div class="container">
    <div class="jumbotron">
      <p><%= message %></p>
      <p><%= error %></p>
    </div>
  </div>
<body>
  <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>